body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #cce5ff, #e6f7ff);
  text-align: center;
  padding: 50px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}